![Parked motorcycle](motorcycle.jpg)

You're working for a company that sells motorcycle parts, and they've asked for some help in analyzing their sales data!

They operate three warehouses in the area, selling both retail and wholesale. They offer a variety of parts and accept credit cards, cash, and bank transfer as payment methods. However, each payment type incurs a different fee.

The board of directors wants to gain a better understanding of wholesale revenue by product line, and how this varies month-to-month and across warehouses. You have been tasked with calculating net revenue for each product line and grouping results by month and warehouse. The results should be filtered so that only `"Wholesale"` orders are included.

They have provided you with access to their database, which contains the following table called `sales`:

## Sales
| Column | Data type | Description |
|--------|-----------|-------------|
| `order_number` | `VARCHAR` | Unique order number. |
| `date` | `DATE` | Date of the order, from June to August 2021. |
| `warehouse` | `VARCHAR` | The warehouse that the order was made from&mdash; `North`, `Central`, or `West`. |
| `client_type` | `VARCHAR` | Whether the order was `Retail` or `Wholesale`. |
| `product_line` | `VARCHAR` | Type of product ordered. |
| `quantity` | `INT` | Number of products ordered. | 
| `unit_price` | `FLOAT` | Price per product (dollars). |
| `total` | `FLOAT` | Total price of the order (dollars). |
| `payment` | `VARCHAR` | Payment method&mdash;`Credit card`, `Transfer`, or `Cash`. |
| `payment_fee` | `FLOAT` | Percentage of `total` charged as a result of the `payment` method. |


Your query output should be presented in the following format:

| `product_line` | `month` | `warehouse` |	`net_revenue` |
|----------------|-----------|----------------------------|--------------|
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_two | --- | --- | --- |
| ... | ... | ... | ... |

### Monthly wholesale net revenue by product line

In [1]:
-- 
SELECT
    product_line,
    CASE 
        WHEN EXTRACT(MONTH FROM date) = 6 THEN 'June'
        WHEN EXTRACT(MONTH FROM date) = 7 THEN 'July'
        WHEN EXTRACT(MONTH FROM date) = 8 THEN 'August'
    END AS month,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY product_line, month
ORDER BY product_line, month, net_revenue DESC;

             product_line   month  net_revenue
0          Braking system  August      7310.92
1          Braking system    July      9434.02
2          Braking system    June      6385.41
3       Electrical system  August      9089.39
4       Electrical system    July      7737.21
5       Electrical system    June      4927.43
6                  Engine  August     11852.90
7                  Engine    July      2834.17
8                  Engine    June      6548.85
9            Frame & body  August     17386.57
10           Frame & body    July      9289.74
11           Frame & body    June     12801.20
12          Miscellaneous  August      4394.59
13          Miscellaneous    July      6679.89
14          Miscellaneous    June      4673.03
15  Suspension & traction  August     11421.18
16  Suspension & traction    July     13110.32
17  Suspension & traction    June     13763.26

### Total wholesale revenue by product line & warehouse

In [2]:
SELECT
    warehouse,
    product_line,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY warehouse, product_line
ORDER BY warehouse, net_revenue DESC;

   warehouse           product_line  net_revenue
0    Central                 Engine     17904.59
1    Central           Frame & body     16904.46
2    Central  Suspension & traction     15198.42
3    Central      Electrical system     11608.98
4    Central         Braking system     10502.95
5    Central          Miscellaneous      6736.27
6      North           Frame & body     18963.62
7      North  Suspension & traction     16703.71
8      North      Electrical system      8453.75
9      North         Braking system      5853.05
10     North          Miscellaneous      4760.04
11     North                 Engine      3331.33
12      West         Braking system      6774.35
13      West  Suspension & traction      6392.63
14      West          Miscellaneous      4251.20
15      West           Frame & body      3609.43
16      West      Electrical system      1691.30

The analysis reveals that each warehouse has a distinct top-performing product line: Engine in the Central Warehouse, Frame & Body in the North Warehouse, and Braking System in the West Warehouse. This indicates that demand patterns vary across regions, suggesting opportunities to optimize inventory allocation and tailor sales strategies to each warehouse’s strengths.

### Monthly revenue trends (June–August 2021)

In [3]:
SELECT
    TO_CHAR(date, 'Month') AS month,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY TO_CHAR(date, 'Month')
ORDER BY MIN(date);

       month  net_revenue
0  June          49099.18
1  July          49085.35
2  August        61455.55

Monthly revenue trends show stable performance in June and July, with revenues holding at approximately 49K. However, August experienced a significant uplift to 61K, suggesting potential seasonal demand, successful promotions, or improved sales strategies during that period. This indicates an opportunity for the company to analyze and replicate the factors driving the August growth.

### Top Product Line Across All Warehouses

In [4]:
SELECT
    product_line,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY product_line
ORDER BY net_revenue DESC
LIMIT 1;

   product_line  net_revenue
0  Frame & body     39477.51

Frame & Body emerges as the leading revenue driver across all warehouses, highlighting its importance as the company’s strongest product line. This indicates that maintaining a strong supply chain and marketing focus on Frame & Body parts could maximize revenue growth and ensure consistent performance across all warehouses.

### Best performing warehouse overall

In [9]:
SELECT
    warehouse,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY warehouse
ORDER BY net_revenue DESC;

  warehouse  net_revenue
0   Central     78855.67
1     North     58065.50
2      West     22718.91

Among all warehouses, the Central Warehouse generated the highest wholesale revenue at ~78K, significantly outperforming the North (~58K) and West (~22K) warehouses. This suggests that the Central Warehouse plays a key role in driving overall sales performance, making it a critical area for maintaining efficiency and meeting demand.